<b>我的意愿值：<%=current_user.points%></b>
<br><br>
<form action="\users\repoints">  
    转赠意愿值数量: 
    <br>  
    <input type="text" name="text1"/>  
    <br>  
    转赠目标邮箱:
    <br>  
    <input type="text" name="text2"/>  
    <br><br>
    <input type="submit" value="确认转赠">      
</form>  

