<div class="container">

  <div class="row">
    <div class="col-md-8" style="background-color: #FFFFFF;padding-bottom: 10px;padding-top: 10px">
      <div style="font-size: 50px; padding-left: 50px">
        <%= image_tag "shouye.png" %>
        开启“意愿人生”
      </div>

    </div>

    <div class="col-md-4">
      <h1>传统选课回顾</h1>
      <p>选课难，选课难，难于上青天！拼不过手速，拼不过网速，选课就变成了矿难，明明想选篮球，最后迫于无奈选上了健美操...</p>
      <p>大学选课服务器崩溃，就像你手机没流量，WiFi没连接网络，心态崩了！！</p>

    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-info text-center">
        当学生和老师们用了“意愿值选课之后”
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-4">
      <h2>多了好多时间！</h2>
      <p><b>不需要在第一时间抢课，可以在选课时间段内的任意时间进行意愿值选课！</b></p>
      <br>
      <p>用过的学生A说：用了这个系统之后，生活瞬间变得充实，人生瞬间变得丰满！</p>
      
      <!--<a class="btn btn-info" href="http://www.w3schools.com/bootstrap/">More Info</a>-->
    </div>

    <div class="col-md-4">
      <h2>让选课称为一场博弈吧！</h2>
      <p><b>合理分配你的意愿值，让善于做出优秀决策的你选到自己想选的课！</b></p>
      <br>
      <p>用过的学生B说：用了这个系统之后，觉得自己智商MAX，不仅选到了想选的课，锻炼了我的博弈能力！</p>

      <!--<a class="btn btn-info" href="http://www.runoob.com/js/js-tutorial.html">More Info</a>-->
    </div>

    <div class="col-md-4">
      <h2>让服务器喘口气吧！</h2>
      <p><b>对网络性能、服务器的要求不高，可以在不租用更多服务器的情况下让每个学生都满意！</b></p>
      <br>
      <p>网络中心的老师A说：用了这个系统之后，每年的成本大幅节省，我们部门的好评率也不断攀升！</p>
      <!--<a class="btn btn-info" href="http://guides.ruby-china.org/">More Info</a>-->
    </div>
  </div>
</div>
