<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
      <%= render "shared/sidenav" %>
    </div>

    <div class="col-sm-10">

      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <% if student_logged_in? %><h3 class="panel-title">学分提示</h3>
          <% end %>
        </div>

        <div class="panel-body">
         <table class="table table-striped table-bordered table-advance table-hover">
		   <thead>
		       <tr>
		           <th>类别</th>
		           <th>公共必修课程及学分</th>
		           <th>总学分要求</th>
		    	</tr>
		   	</thead>
		   	<tbody>
		   		<tr>
		   			<th>学习要求</th>
		   			<td>
		   				<div>人文系列讲座（1学分)</div>
		   				<div>中国特色社会主义理论与实践研究（2学分）</div>
		   				<div>自然辩证法概论（1学分）</div>
		   				<div>硕士学位英语（英语A）（3学分）</div>
		   				<div>知识产权（1学分）</div>
		   				<div>信息检索（1学分）</div>
		   				<div>专业英语（2学分）</div>
		   				<div>工程伦理（0.5学分）</div>
		   				</td>
		   			<td>>=30学分</td>
		   		</tr>
		   		<tr>
		   			<th>选课情况</th>
		   			<td>
		   			    <% @courses.each do |course| %>
		   				<div><%=course.name%>（<%=course.credit%>学分）</div>
		   			    <%end%>
		   			</td>
		   			<td class="m-font-red"><%=@credits%>学分</td>
		   		</tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>